

.leaflet-container /* inner leaflet class. Look at DOM */
{
    width: 100%;
    height: 100%;
}

.a__leaflet-map
{
    width: 100%;
    height: 100%;
}

/* a.leaflet-buttons-control-button
{
    background: linear-gradient(to right,rgb(19, 18, 18), #777272);
    border: 1px solid #000;
}

a.leaflet-buttons-control-button > div.control-icon.leaflet-pm-icon-rectangle
{
    te: rgb(175, 199, 37); 
} */