

.a__geo-tool
{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 80px;
    left: 12px;
    width: 40px;
    /* height: 250px; */    
    background: rgb(0, 0, 0);
    /* transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s; */
    z-index: 100000;
    border: 1px solid #000;
    border-radius: 4px; 
    overflow: hidden; 
    box-shadow: -3px 2px 10px rgb(26, 25, 25);  
    /* box-shadow: 0 0 0 2px #1f1f1f;  */
}

.a__geo-tool > div
{
    /* background-color: #615d5d; */
    background: linear-gradient(to right,rgb(19, 18, 18), #615d5d);
    width: 38px;
    border: 1px solid #000;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(175, 199, 37);
    transition: 0.3s;
}

.a__geo-tool > div:hover
{
    background-color: #5f5c49;  
    color: rgb(255, 251, 0);
    /* border:1px solid rgb(255, 251, 0); */ 
    border-radius: 4px;
    /* font-size: 20px; */
    font-weight: bold;
    
    text-shadow: 0 0 5px rgb(255, 251, 0),
                 0 0 15px rgb(255, 251, 0),
                 0 0 30px rgb(255, 251, 0),
                 0 0 40px rgb(255, 251, 0);

    box-shadow: inset 0  0 2px rgba(255, 255, 0, 0.4);
}